<div class="row">
  <div class="blog">
    <div class="blog-header-page">
      <div class="blog-title">
        {{blog.title}}
      </div>
      {{blog.date}} {{blog.time}}
    </div>
    <div class="blog-body">
      {{blog.body}} <br>
    </div>
    <div class="blog-footer">
      Current Mood: {{blog.mood}} <br>
      Current Music: {{blog.music}}
    </div>
    {{update-blog blog=blog update="update"}}
    <a class="underline" href="newPage.htm" {{action 'delete' blog}}>(Delete Post)</a>
  </div>
  <div class="comments">
    <div class="blog-title">
      Comments
    </div>
    <ul>
      {{#each blog.comments as |comment|}}
        {{comment-tile comment=comment destroyComment="destroyComment"}}
      {{/each}}
    </ul>
  </div>
</div>
