<div class="row">
  <div class="blog-header-index">
    {{blog.date}} {{blog.time}}
  </div>
  <div class="blog-body">
    <div class="blog-title">
      {{blog.title}}
    </div>
    {{blog.body}} <br>
  </div>
  <div class="blog-footer">
    <strong>Current Mood:</strong> {{blog.mood}} <br>
    <strong>Current Music:</strong> {{blog.music}}
  </div>
  <br>
  <span class="underline">{{#link-to 'blog' blog.id}}(Click for Comments){{/link-to}}</span>
  <br>
  <br>
</div>
