<div class="comment">
    <div class="comment-header">
      <strong>From:</strong> {{comment.author}} <br>
      <strong>Date:</strong> {{comment.date}} {{comment.time}}<br>
    </div>
    <div class="comment-body">
      {{comment.content}}
    </div>
    <a class="underline" href="newPage.htm" {{action 'delete' comment}}>(Delete Comment)</a>
</div>
