<div class="comment">
    <div class="comment-header">
      From: {{comment.author}} <br>
      Date: {{comment.date}} {{comment.time}}<br>
    </div>
    <div class="comment-body">
      {{comment.comment}}
    </div>
    <a class="underline" href="newPage.htm" {{action 'delete' comment}}>(Delete Comment)</a>
</div>
