{{#if addNewComment}}
<div>
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      {{textarea input value=comment id="comment"}}
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      {{input value=date id="date"}}
    </div>
    <div class="form-group">
      <label for="time">Time</label>
      {{input value=time id="time"}}
    </div>
  <a class="underline" href="newPage.htm"  {{action 'saveComment'}}>Reply</a>
  </form>
</div>
{{else}}
  <a class="underline" href="newPage.htm" {{action 'commentFormShow'}}>(Add a Comment)</a>
{{/if}}
